.contacts{
    padding-bottom: 99px;
}
.contacts_wrapper{
    display: flex;
    gap: 90px;
}

.contacts .contacts_list{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 40px;
}


.contacts .map img{
    width: 100%;
}

@media (max-width: 800px){
    .contacts_wrapper{
        flex-direction: column;
        gap: 25px;
    }
    .contacts .contacts_list{
        margin-top: 20px;
    }
}
@media (max-width: 785px){
    .contacts{
        padding-bottom: 40px;
    }
    .contacts .contacts_list{
        width: 100%;
        margin-top: 0;
    }

}