.footer{
    background-color: #FFF;
    padding: 50px 0 150px;
}

.footer .logo{
    width: 111px;
    height: 120px;
}
.footer .logo img{
    width: 100%;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .nav_menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .contacts_list{
    width: 65%;
    justify-content: space-between;
    row-gap: 20px;
    padding: 0;
}
.footer .contacts_list .kontur::before{
    background-image: url('../assets/icons/logo_KONTUR.png');
    left: 219px;
    width: 56px;

}

.footer .contacts_list .mail{
    order: 4;  
    width: 100%;
}
.footer .contacts_list .phone{
    order: 3;  
    background-color: #FFF;
    border: 1px solid #E6E6E6;
    color: #2E2E2E;
}
.footer .contacts_list .kontur{
    order: 5;
    width: 100%;
    justify-content: end;
    color: #AFB7BF;
    font-weight: 300;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
}

@media (max-width: 1061px){
    .footer .contacts_list .mail{
        order: 2;
        width: 50%;
    }
}

@media (max-width: 785px){
    
    .footer .container{
        align-items: flex-start;
    }
    .footer .contacts_list{
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
    }
}

@media (max-width: 550px){
    .footer .container{
        flex-wrap: wrap;
        position: relative;
    }
    .footer .logo{
        width: 100%; 
    }

    .footer .logo img{
        width: 75px;
        height: 80px;
    }

    .footer .nav_menu{
        order: 3;
        gap: 22px;
    }
    .footer .contacts_list{
        row-gap: 10px;
    }
    .footer .contacts_list a{
        gap: 10px;
    }
    .footer .contacts_list .phone{
        width: 130px;
        padding: 11px 16px;
        font-size: 14px;
        position: absolute;
        top: 15px;
        right: 30px;
    }

    .footer .contacts_list .whatsapp{
        white-space: nowrap !important; 
        order: -1;
    }

    .footer .contacts_list .geo{
        order: 5;
        align-items: flex-start;
    }
    .footer .contacts_list .kontur{
        position: absolute;
        bottom: -70px;
        right: 40px;
        font-weight: 300;
        line-height: 20px;
    }
}
    
