.news{
    padding: 40px 0;
}

.news_ttl_btn{
    display: flex;
    align-items: center;
    gap: 20px;
}

.news_title{
    padding-bottom: 0;
}

.news_btn{
    border-radius: 28px;
    border: 1px solid #E6E6E6;
    font-size: 15px;
    padding: 7px 16px;
}

.news_wrapper{
    margin-top: 25px;
}

.news_item img{
    max-width: 100%;
    margin-bottom: 16px;
}

.news_item h5{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #2E2E2E;
}

.news_item a{
    color: var(--main-color) !important;
    text-decoration: underline;
}

article p{
    font-weight: 400;
}