@import url(./header_style.css);
@import url(./promo_section_style.css);
@import url(./about_style.css);
@import url(./partners_style.css);
@import url(./news_style.css);
@import url(./form_style.css);
@import url(./footer_style.css);
@import url(./services_style.css);
@import url(contacts_style.css);



@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.ttf');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Black.ttf');
    /* src: local('Gilroy Black'), local('Gilroy-Black'),
        url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Black.woff') format('woff'),
        url('Gilroy-Black.ttf') format('truetype'); */
    font-weight: 900;
    font-style: normal;
}

:root{
    --main-color:#82BB31;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

body{
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    background: #F8F8F8;
    font-size: calc(14px + (16 - 14) * (100vw  / 1200));
}


button{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FFB05C;
    font-weight: 500;
    padding: 10px 20px;
}

h1{
    font-size: calc(18px + (62 - 22) * (100vw  / 1200));
    font-weight: 900;
    color: #2E2E2E;
    padding-bottom: 15px;
}
h3{
    /* font-size: 36px; */
    font-size: calc(22px + (33 - 22) * (100vw  / 1200));
    font-weight: 900;
    color: #2E2E2E;
    padding-bottom: calc(10px + (15 - 10) * (100vw  / 1200));
}
h4{
    font-size: 23px;
    font-weight: 700;
    color: #2E2E2E;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

main{
    padding: 40px 0;
    overflow: hidden;
}

.active{
    border-bottom: 1px solid #000;
}

.menu_btn{
    border-radius: 20px;
    border: 1px solid #E6E6E6;
    font-size: 14px;
    padding: 7px 10px;
    font-weight: 500;
}

.menu_btn-active{
    color: #9C9C9C;
    border: none;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
    color: #2E2E2E;
    background: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    line-height: 0.5;
    cursor: pointer;
    box-shadow: 1px 0px 12px -6px rgba(0,0,0,0.66);
    -webkit-box-shadow: 1px 0px 12px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 2px 35px -5px rgba(0,0,0,0.66);
   
}

.swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    background-color: var(--main-color);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,12px);
}

@media (max-width: 350px){
    p{
        font-size: 14px;
        font-weight: 400;
    }
    main{
        padding: 10px 0;
    }
    h3{
        font-size: 22px;
        padding-bottom: 10px;
    }
   .container{
    padding-left: 10px;
    padding-right: 10px;
   }
}